{% load static %}
<hr class="my-4 border-gray-700" />
<div class="row align-items-center">
  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
    <p class="mb-0 small text-muted">
      &copy; 2025 <a href="https://b-model.pro" class="text-decoration-none text-primary">SciMaster</a>. Все&nbsp;права&nbsp;защищены.
    </p>
  </div>
  <div class="col-md-6 text-center text-md-end">
    <a href="{% url 'serve_documents' 'Privacy_Policy.pdf' %}" target="_blank" class="text-decoration-none text-muted hover-white small me-3">Политика&nbsp;конфиденциальности</a>
    <a href="{% url 'user_agreement' %}" class="text-decoration-none text-muted hover-white small me-3">Пользовательское&nbsp;соглашение</a>

    {% comment %} <a href="{% url 'serve_documents' 'Privacy_Policy.pdf' %}" target="_blank" class="text-decoration-none text-muted hover-white small me-3">Политика&nbsp;конфиденциальности</a> {% endcomment %}
    {% comment %} <a href="{% url 'serve_documents' 'User_Agreement.pdf' %}" target="_blank" class="text-decoration-none text-muted hover-white small me-3">Пользовательское&nbsp;соглашение</a> {% endcomment %}
  </div>
</div>
