{% load static %}
<!-- ========== ОСНОВНОЕ МОДАЛЬНОЕ ОКНО ========== -->
<!-- 
  Универсальное модальное окно для всего сайта
  Контент подгружается динамически через HTMX
 -->

<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
  <!-- Контейнер модального окна -->
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <!-- Контент модального окна (будет заменяться динамически) -->
    <div class="modal-content" id="modal-content">
      <!-- Контент будет подгружаться динамически -->
    </div>
  </div>
</div>
